<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dayspent</title>
    <link rel="shortcut icon" href="~/favicon.ico" type="image/ico" />
    @Styles.Render("~/content/css")
    @RenderSection("Styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body class="metro">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/metro-ui")
    @RenderSection("scripts", required: false)
</body>
</html>
